/*Mobile: 375px
  Desktop: 1200px */

  @import url(./styles/tela.css);
  @import url(./styles/feedback.css);

:root {
    --laranja:#fb7413;
    --branco: #ffffff;
    --cinza: #959eac;
    --cinza-medio: #7c8798;
    --cor-tela: #252d37;
    --cor-fundo: #121417;
    --cor-botao: #3e434c;
    --fonte: 'Overpass', sans-serif;
}

body {
  font-size: 15px;
  font-family: var(--fonte);
  background-color: var(--cor-fundo);
}
